* {
    font-family: 'Poppins', sans-serif;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner {
    background: linear-gradient(-55deg, #171c24c4 32%, #4f5b6ec4 29.1%, #171c24 65%, #171c24 50%);
    /* border-radius: 0 0 5px 5px; */
    margin-top: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
    width: 100%;
}

.banner-container .banner .spec {
    flex: 1 1 250px;
    padding: 15px;
    text-align: center;
}

.banner-container .banner .content {
    flex: 1 1 250px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.banner-container .banner .content span {
    color: #eee;
    font-size: 25px;
}

.banner-container .banner .content h3 {
    color: #fff;
    font-size: 40px;
}

.banner-container .banner .content p {
    color: #eee;
    font-size: 20px;
    padding: 10px 0;
}

.banner-container .banner .content .btn {
    display: block;
    height: 40px;
    width: 150px;
    line-height: 40px;
    background: #fff;
    color: #d63031;
    margin: 5px auto;
    text-decoration: none;
}

.banner-container .banner .women {
    position: relative;
    bottom: -33px;
    padding: 10px;
    flex: 1 1 250px;
}

.banner-container .banner .women img {
    width: 100%;
}

/* sale css */
.slideshow-container {
    display: none;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* sale with clear floats */
.sale-row::after {
    content: '';
    clear: both;
    display: table;
}

/* mobile slider sale */
.dots {
    display: none;
}


@media (max-width:768px) {
    .banner-container .banner .women {
        display: none;
    }

    .banner-container .banner .content span {
        font-size: 12px;
    }

    .banner-container .banner .content h3 {
        font-size: 24px;
    }

    .banner-container .banner .content p {
        font-size: 15px;
    }

    .sale-row {
        display: none;
    }

}



/* @prahlad dixit */